name: Build docs
on:
  release:
    types:
      - published

jobs:
  build-notebooks:
    uses: ./.github/workflows/build-notebooks.yml
    secrets: inherit
  deploy:
    needs: build-notebooks
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.5"
      - name: Set up Python
        run: uv python install
      - name: Install dependencies for docs
        run: uv sync --group docs
      - name: Download artifact from previous step
        uses: actions/download-artifact@v5
        with:
          name: notebooks
          path: docs/notebooks
      - name: Extract version from release
        run: |
          # Remove the 'v' prefix and any suffix after a space
          VERSION=$(echo ${{ github.event.release.tag_name }} | sed 's/^v//' | sed 's/ .*$//')
          echo "::notice::Extracted version: $VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Build and deploy docs
        run: uv run mike deploy --push --update-aliases ${{ env.VERSION }} latest
